.body {
    background-color: #CCD1D1;
}

.secondbg {
    border-radius: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.image > .logo {
    width: 100px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.col > .registerbtn {
    display: flex;
    margin: auto;
}